@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body,
button {
  font-family: "Varela Round";
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section > h1 {
  font-size: 1.6em;
}
.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}
.content-footer {
  margin: 50px 0;
  padding: 20px 0;
  text-align: center;
  background-color: white;
  text-decoration: none;
}
.social > li {
  display: inline-block;
  margin: 0 7px;
  padding: 0.7em;
  border: 1px none black;
  border-radius: 5px;
}
.github {
  background-color: #6cc644;
}
.instagram {
  background-color: #bc2a8d;
}
.linkedin {
  background-color: #0077b5;
}
.content-footer > p {
  font-size: 1.3em;
  font-weight: bold;
  color: black;
}
.social > li > a {
  font-size: 1.3em;
  text-decoration: none;
  color: white;
}
.splash {
  margin-right: 0px;
}
.path1 {
  overflow: visible;
  position: absolute;
}
header {
  height: 200px;
  display: flex;
  padding: 20px;
  align-items: center;
}
header h2 {
  flex: 1.4;
  display: flex;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 4vw;
  font-weight: lighter;
  color: #2f2fa2;
}
header nav {
  flex: 1;
  /*This means it will span across the whole row*/
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  background-color: #ff7e9a;
  text-decoration: none;
  font-size: 28px;
  color: black;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

header nav ul li a:hover {
  background-color: white;
  color: black;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s linear;
  transition-property: background-color, color, box-shadow;
}
header nav ul li.active a {
  background-color: white;
  color: black;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s linear;
  transition-property: background-color, color, box-shadow;
}
.btn {
  display: inline-block;
  zoom: 1;
}

li {
  margin: 1.15em;
}
