/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manjari&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

@media screen and (max-width: 1360px) {
  .btn {
    padding: 20px;
    font-size: 10px;
  }
}

body {
  /* background: rgb(255, 255, 255); */
  background: linear-gradient(
    0deg,
    rgba(50, 50, 50, 1) 0%,
    rgb(129, 129, 255) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  font-family: "Hubballi";
}
button {
  font-family: "Hubballi";
}

.button {
  --color: #2f2fa2;
  padding: 8px;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  font-size: 26px;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--color);
  z-index: 1;
}

.button::before,
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 0.8s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  /* color: rgb(10, 25, 30); */
  color: white;
  text-decoration: none;
}

.button:active {
  filter: brightness(0.8);
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
@keyframes animate {
  0% {
    transform: translateY(-1300px) rotate(0deg);
    opacity: 0.5;
    border-radius: 20%;
  }
  100% {
    transform: translateY(0) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
.introduction-section,
.location-section,
.questions-section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 1px;
  border-style: solid;
  border-radius: 8px;
}

.questions-section > h2 {
  font-size: 1.8em;
  font-weight: bold;
  font-style: italic;
}
section > h1 {
  font-size: 1.8em;
}
.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}
.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.horizontal > a {
  margin-right: 16px;
}

.content-footer {
  margin: 50px 0;
  padding: 20px 0;
  text-align: center;
}
.social > li {
  display: inline-block;
  margin: 0 7px;
  padding: 0.7em;
  border: 1px none black;
  border-radius: 5px;
}
.github {
  background-color: #6cc644;
}
.instagram {
  background-color: #bc2a8d;
}
.linkedin {
  background-color: #0077b5;
}
.content-footer > p {
  font-size: 2.4em;
  font-weight: bold;
  color: black;
}
.social > li > a {
  font-size: 2.4em;
  text-decoration: none;
  color: white;
}
.splash {
  margin-right: 0px;
}
.path1 {
  overflow: visible;
  position: absolute;
}
header {
  height: 200px;
  display: flex;
  padding: 20px;
  align-items: center;
}
header h2 {
  flex: 1.4;
  display: flex;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 4vw;
  font-weight: lighter;
  color: #2f2fa2;
}
header nav {
  flex: 1;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  display: inline-block;
}
.btn {
  display: inline-block;
  padding: 20px;
  /* zoom: 1; */
}
