@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap");

body {
	font-family: "Catamaran", sans-serif;
}

.course {
	/* background-color: #fff; */
	background-color: #2a265f;
	color: #fff;
	border-radius: 10px;
	/* box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2); */
	box-shadow: 7px 10px 24px 5px rgba(0, 0, 0, 0.5);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	/* width: 700px; */
	width: 50em;
}
.course h6 {
	opacity: 0.8;
	margin: 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 18px;
}

li {
	margin: 0.8em;
}

.course h5 {
	font-size: 18px;
	font-weight: 200;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	background-color: #fff;
	color: #000;
	padding: 30px;
	width: 20em;
	/* max-width: 250px; */
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

@media all and (max-width: 1000px) {
	.course {
		/* background-color: #fff; */
		border-radius: 10px;
		/* box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2); */
		box-shadow: 7px 10px 24px 5px rgba(0, 0, 0, 0.5);
		display: flex;
		max-width: 100%;
		width: fit-content;
	}

	.course h5 {
		font-size: 15px;
		font-weight: 200;
	}

	.course h2 {
		letter-spacing: 1px;
	}

	.course-preview {
		width: 10em;
	}

	.course-info {
		padding: 30px;
		position: relative;
		width: 50%;
	}
}

.button {
	--color: #2f2fa2;
	padding: 8px;
	background-color: transparent;
	border-radius: 0.3em;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: 0.3s;
	font-size: 23px;
	border: none;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: var(--color);
	z-index: 1;
}

.button::before,
.button::after {
	content: "";
	display: block;
	width: 50px;
	height: 50px;
	transform: translate(-50%, -50%);
	position: absolute;
	border-radius: 50%;
	z-index: -1;
	background-color: var(--color);
	transition: 0.8s ease;
}

.button::before {
	top: -1em;
	left: -1em;
}

.button::after {
	left: calc(100% + 1em);
	top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
	height: 410px;
	width: 410px;
}

.button:hover {
	/* color: rgb(10, 25, 30); */
	color: white;
	text-decoration: none;
}

.button:active {
	filter: brightness(0.8);
}

.jobs {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}
.circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(0, 0, 0, 0.2);
	animation: animate 25s linear infinite;
	bottom: -150px;
}
.circles li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.circles li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
}
.circles li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
}
.circles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s;
}
.circles li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
}
@keyframes animate {
	0% {
		transform: translateY(-1300px) rotate(0deg);
		opacity: 1;
		border-radius: 20%;
	}
	100% {
		transform: translateY(0) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
}
.introduction-section,
.location-section,
.questions-section {
	max-width: 38em;
	margin-left: auto;
	margin-right: auto;
}
.introduction-section > p,
.location-section > p,
.questions-section,
.content-footer > p {
	letter-spacing: 0.05em;
}
.questions-section > h2 {
	font-size: 1.4em;
	font-weight: bold;
	/* Layout */
	font-style: italic;
	margin: 2em 0 1em 0;
}
section > h1 {
	font-size: 1.6em;
}
.content-footer,
.masthead-heading,
.masthead-intro {
	text-align: center;
}
.content-footer {
	margin: 50px 0;
	padding: 20px 0;
	text-align: center;
	background-color: white;
	text-decoration: none;
}
.social > li {
	display: inline-block;
	margin: 0 7px;
	padding: 0.7em;
	border: 1px none black;
	border-radius: 5px;
}
.github {
	background-color: #6cc644;
}
.instagram {
	background-color: #bc2a8d;
}
.linkedin {
	background-color: #0077b5;
}
.content-footer > p {
	font-size: 1.6em;
	font-weight: bold;
	color: black;
}
.social > li > a {
	font-size: 1.6em;
	text-decoration: none;
	color: white;
}
.splash {
	margin-right: 0px;
}
.path1 {
	overflow: visible;
	position: absolute;
}
header {
	height: 200px;
	display: flex;
	padding: 20px;
	align-items: center;
}
header h2 {
	flex: 1.4;
	display: flex;
	margin-right: 30px;
	margin-left: 30px;
	font-size: 4vw;
	font-weight: lighter;
	color: #2f2fa2;
}
header nav {
	flex: 1;
	/*This means it will span across the whole row*/
}
header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
header nav ul li {
	display: inline-block;
}
/* header nav ul li a {
	background-color: #ff7e9a;
	text-decoration: none;
	font-size: 28px;
	color: black;
	padding: 8px;
	border-radius: 8px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  }
  
  header nav ul li a:hover {
	background-color: white;
	color: black;
	box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5);
	transition: all 0.2s linear;
	transition-property: background-color, color, box-shadow;
  }
  header nav ul li.active a {
	background-color: white;
	color: black;
	box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5);
	transition: all 0.2s linear;
	transition-property: background-color, color, box-shadow;
  } */
.btn {
	display: inline-block;
	padding: 7px;
	zoom: 1;
}

@media screen and (max-width: 480px) {
	.social-panel-container.visible {
		transform: translateX(0px);
	}

	.floating-btn {
		right: 10px;
	}
}
