@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manjari&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

body {
  background: #EBEBEB;
  /* background: linear-gradient(
    0deg,
    rgba(50, 50, 50, 1) 0%,
    rgba(89, 89, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); */
  font-family: "Catamaran";
}
button {
  font-family: "Catamaran";
}
.course {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 7px 10px 24px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: 50em;
}

.course h6 {
  opacity: 0.8;
  margin: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 15px;
}

li {
  margin: 0.8em;
  font-size: 23px;
}

.course h5 {
  font-size: 15px;
  font-weight: 200;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.horizontal > a {
  margin-right: 16px;
}

.course h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.course-preview {
  background-color: #2a265f;
  color: #fff;
  padding: 30px;
  width: 20em;
}

.course-info {
  padding: 10px;
  position: relative;
  width: 100%;
}

@media all and (max-width: 1000px) {
  .course {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 7px 10px 24px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    max-width: 100%;
    width: fit-content;
  }

  .course h5 {
    font-size: 15px;
    font-weight: 200;
  }

  .course h2 {
    letter-spacing: 1px;
  }

  .course-preview {
    background-color: #2a265f;
    color: #fff;
    width: 10em;
  }

  .course-info {
    padding: 30px;
    position: relative;
    width: 50%;
  }
}

.button {
  --color: #2f2fa2;
  padding: 8px;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  font-size: 26px;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--color);
  z-index: 1;
}

.button::before,
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 0.8s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: white;
  text-decoration: none;
}

.button:active {
  filter: brightness(0.8);
}

.jobs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.introduction-section,
.location-section,
.questions-section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
}
.introduction-section > p,
.location-section > p,
.questions-section,
.content-footer > p {
  letter-spacing: 0.05em;
}
.questions-section > h2 {
  font-size: 1.4em;
  font-weight: bold;
  font-style: italic;
  margin: 2em 0 1em 0;
}
section > h1 {
  font-size: 1.6em;
}
.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}
.content-footer {
  margin: 50px 0;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
}
.social > li {
  display: inline-block;
  margin: 0 7px;
  padding: 0.7em;
  border: 1px none black;
  border-radius: 5px;
}
.github {
  background-color: #6cc644;
}
.instagram {
  background-color: #bc2a8d;
}
.linkedin {
  background-color: #0077b5;
}
.content-footer > p {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}
.social > li > a {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}
.splash {
  margin-right: 0px;
}
.path1 {
  overflow: visible;
  position: absolute;
}
header {
  height: 200px;
  display: flex;
  padding: 20px;
  align-items: center;
}
header h2 {
  flex: 1.4;
  display: flex;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 3vw;
  font-weight: 600;
  letter-spacing: 4px;
  color: #2f2fa2;
}
header nav {
  flex: 1;
  /*This means it will span across the whole row*/
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  display: inline-block;
}
.btn {
  display: inline-block;
  padding: 7px;
  zoom: 1;
}

@media screen and (max-width: 480px) {
  .social-panel-container.visible {
    transform: translateX(0px);
  }

  .floating-btn {
    right: 10px;
  }
}

.navMenu {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}

.navMenu a {
  color: black;
  text-decoration: none;
  font-size: 1.9em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  padding: 10px;
}

.navMenu a:hover {
  color: black;
  font-weight: bolder;
}